html, body, h1, h2, h3, h4, p, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  line-height: 1.5;
  color: #605e5e;
}

html {
  overflow-x: hidden;
}

h1 a {
  font-family: 'Lust';
  font-size: 3rem;
  color: white;
}

h1 a:hover {
  text-decoration: none;
  color:white;
}

/*Navigation Bar*/

.home-nav {
  text-align: center;
  padding: 0;
}

.home-nav li {
  text-align: center;
  list-style: none;
  display: inline-block;
}

.home-nav li a {
  display: block;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.home-nav li a:hover {
  color: #DAA520;
  text-decoration: underline;
}

/*Welcome Page*/

.welcome {
  background: url("https://docs.google.com/drawings/d/11W7xkgYN4ArQSnFrrTCSoMIgF2lwNDUp0Bwdrm_7nT0/pub?w=3600&h=2400") center no-repeat;
  background-size: cover;
  height: 60em;
  padding-top: 5.5%;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.welcome h2, .welcome h4 {
  /*text-align: center;*/

}

.welcome h2 {
  font-size: 40px;
  color: #e3cc6d;
  letter-spacing: 5px;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
}

div.container#details{
  padding-top: 25%;
  text-align: right;
  margin-right: 0;
}

.welcome h4 {
    font-size: 2rem;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-family: proxima-nova, sans-serif;
    color: white;
}

.welcome::after {
  content: " ";
  display: table;
  clear: both;
}

.amp {
    font-family: 'Lust';
}

.welcome h5 {
  font-size: 22px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Lust';
    color: white;
}

/*Images*/

img {
  display: block;
  max-width: 100%;
}

img.profile-photo {
  width: 70%;
}

img.responsive {
  border-radius: 25px;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
  }

img.responsive:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


/*Wedding Party*/

ul.column-two, ul.column-one {
  display: inline-block;
  text-decoration: none;
  padding-top: 20px;
  margin: 0px;
  text-align: center;
  /*width:40%;*/
  vertical-align: top;
}

.column-one li figure, .column-two li figure{
  margin-top: 0;
  /*width:300px;*/
}

.column-one li figure, .column-two li figure{
  flex: 2;
}

.column-one li figcaption, .column-two li figcaption {
  flex: 3;
}

.column-one li img, .column-two li img {
  margin-right: 10px;
  /*width: 30%;*/
  border-radius: 50%;
}

.column-one li, .column-two li {
  display: flex;
  align-items: center;
  padding-right: 0px;
  margin-bottom: 0px;
  text-align: left;
  /*width: 350px;*/
}

.column-one h2, .column-two h2 {
  text-align: center;
  font-size: 1.5em;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.column-one h2:hover, .column-two h2:hover {
  color: #ffffff;
}

.column-one, .column-two {
  vertical-align: top;
}

.bridalparty h1 {
  background-color: #777;
  /*width: 500px;*/
  text-align: center;
  margin-top: 50px;
}

figure {
  padding-right: 15px;
}

figure, figcaption{
    padding-bottom: 15px;
}

div.col-md-6 {
    text-align: center;
}

/*About Us*/

#story p {
  text-align: left;
  padding-bottom: 1em;
}

#story h1 {
  text-align: left;
  padding-top: 1em;
}

div.col-xs-6.col-md-3 {
  padding-bottom: 1.5em;
}

/*details*/

#map {
  width: 50%;
  height: 400px;
  background-color: grey;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px
      }

#receptionMap {
        width: 50%;
        height: 400px;
        background-color: grey;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px
            }

#ceremonyDetails {
  display: block;
  margin: 0 auto;
  /*text-align: center;*/
}

h4.center, h2.center {
  text-align:center;
}
h2.center.addBorder {
  text-align: center;
  background-color: grey;
  color:white;
}

.addBorder {
  border: 2px solid grey;
  border-radius: 5px;

}
/*navigation bar*/

nav {
  padding-bottom: 5px;
}

.navbar-brand {
  padding: 0px;
  padding-left: 10px;
}

.nav-pills li {
  background-color: white;
  color: grey;
}

.nav-pills li a {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
}

.navbar-fixed-top {
    border-bottom: 0px;
    opacity: .3;
    width:100%;
}

/*sections*/

section#targetone {
  background-color: #ffa482;
  padding-bottom: 50px;
}

section#targetzero {
  padding-top: 110px;
  padding-bottom: 20px;
}

section#targettwo {
  padding-top: 20px;
  background-color: #ecebeb;
}

section#targetthree {
    background-color: #DCDCDC;
    padding-bottom: 20px;
}

section#targetfour {
  background-color: #ffa482;
  padding-bottom: 20px;
}


/*tidbits*/



/*hr {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -3px #848482 inset;nt-size: 18px;
  margin:0;
}*/

.modal-body {
  max-width: 100%;
}

.row {
  margin: 0px;
}

a.btn {
  background-color: #ffa482;
  color: #ffffff;
}

a.btn:hover {
  background-color: #ffffff;
  color: #ffa482;
}

footer {
  background-color: grey;
  color: white;
}
@media (max-width: 415px){
    div.container#details{
      padding-top: 90%;
      text-align: right;
    }
#ceremonyDetails {
  width: 100%;
}
#map {
  width:80%;
}

  }
