html, body, h1, h2, h3, h4, p, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 16px;
  font-family: 'Shadows Into Light';
  line-height: 1.5;
}

p {
  font-family: sans-serif;
}

/*playfair display and roboto condensed as the fonts
 20px- 1.25em
 16px- 1em font
 Colors
 df*/

section.home {
  background-color: grey;
}

.wedding figure {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.wedding figcaption {
  display: block;
  width: 400px;
  margin: 0 auto;
}

img {
  display: block;
}

img.randt {
  border: 8px solid;
  border-color: #B3F6DC;
  margin-bottom: 25px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

img.logo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  padding-bottom: 18px;
  padding-top: 18px;
}

header {
  border-color: #B3F6DC;
  border-width: medium;
}



h1 {
  font-family: 'Playfair Display';
  font-size: 1.75em;
}

h1 a {
  text-decoration: none;
  color: #515151;
}

ul.column-two, ul.column-one {
  display: inline-block;
  text-decoration: none;
  padding-left: 0px;
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  width:35%;
  vertical-align: top;
}

.column-one li figure, .column-two{
  margin-top: 0;
}

.column-one li figure, .column-two {
  flex: 1;
}

.column-one li figcaption, .column-two li figcaption {
  flex: 3;
}

.column-one li img, .column-two li img {
  margin-right: 10px;
  width: 150px;
  border-radius: 50%;
}

.column-one li, .column-two li {
  display: flex;
  align-items: center;
  padding-right: 0px;
  margin-bottom: 0px;
  text-align: left;
  width: 500px;
}

.column-one h2, .column-two h2 {
  text-align: center;
  font-size: 1.5em;
}

.column-one h2:hover, .column-two h2:hover {
  color: #ffffff;
  background-color: grey;
}

.column-one, .column-two {
  vertical-align: top;
}

.bridalparty h1 {
  background-color: #B3F6DC;
  width: 500px;
  text-align: center;
  margin-top: 50px;
}

#story p {
  text-align: left;
  padding-bottom: 1em;
}

#story h1 {
  text-align: left;
  padding-top: 1em;
  font-family: Helvetica;
  font-size: 2em;
}

.home-nav {
  text-align: center;
  padding: 0;
}

.home-nav li {
  text-align: center;
  list-style: none;
  display: inline-block;
}

.home-nav li a {
  display: block;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.home-nav li a:hover {
  color: #DAA520;
  text-decoration: underline;
}

header h1 {
  text-align: center;
  font-family: 'Shadows Into Light';
  color: #ffffff;
  font-size: 3em;
  font-weight: 100;
}

header h2 {
  text-align: center;
  font-family: 'Shadows Into Light';
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 100;
}

 hr{
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -3px #848482 inset;nt-size: 18px;
  margin:0;
}

#map {
  width: 50%;
  height: 400px;
  background-color: grey;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px
      }

#ceremonyDetails {
  display: block;
  margin: 0 auto;
  text-align: center;
  width:50%;
}

nav {
  padding-top: 15px;
  padding-bottom: 5px;
}

.navbar-brand img {
height: 45px;
width: auto;
}

.navbar-brand {
  padding: 0px;
  padding-left: 10px;
}

div.navbar-header {
  align-content: center;
  vertical-align: middle;
}

.nav-pills li {
  background-color: grey;
  color: grey;
}

.nav-pills li a {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
}

.navbar-fixed-top {
    border-bottom: 0px;
    background: black;
    opacity: .40;
}


ul.nav.nav-pills.pull-right {
  margin-bottom: 0px;
}

section#targetone {
  background-color:  #B3F6DC;
  padding-bottom: 50px;
}

section#targetzero {
  padding-top: 110px;
  padding-bottom: 20px;
}

section#targettwo {
padding-top: 20px;}

.welcome {
  background: url("/Users/TaylorStallworth/weddingsite/assets/images/rod-tay-main.jpg") center no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

.welcome h2, .welcome h4 {
  text-align: center;
}

.welcome h2 {
    padding: 20% 3% 0;
    font-size: 7rem;
    color: coral;
}

.welcome h4 {
    font-size: 3rem;
    line-height: 2;
    text-transform:lowercase;
    letter-spacing: 2px;
    padding: 0 10%;
    margin-bottom: 0px;
    font-family: 'Playfair Display';
    color:#454545;
}

.welcome h5 {
  font-size: 2rem;
  line-height: 1.5;
  text-transform: capitalize;
  letter-spacing: 3px;
  padding: 0 10%;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Playfair Display';
  color:#454545;
}

div.col-xs-6.col-md-3 {
  padding-bottom: 1.5em;
}
