---
title: Welcome to Rodney and Taylors Wedding Website
---

<figure class="welcome"></figure>
<figcaption>
  <h1>Taylor <span class="amp"> &amp;</span> Rodney</h1>
    <p>Were Wed</p>
    <p> April 22, 2017 &middot; Chicago, IL</p>
</figcaption>
